@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  background: linear-gradient(to right, #000000, #1a1a1a);
  color: #ffffff;
}
