.home-page {
  padding: 1rem;
}

.filters-section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-bar-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.search-input {
  padding: 0.7rem 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease;
}

.search-input:focus {
  border-color: #ffbb00;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.3);
}
